---
import { BaseLayout } from "cmdesigns";
import Root from "../components/Root";
---

<BaseLayout
    lang="en"
    title="chrissx Media Screwed"
    description="The ultimate reference for all your threads."
    themecolor="#000000"
>
    <noscript class="important">This page requires JavaScript.</noscript>
    <p class="important">
        This page has not been checked against the actual ISO/ANSI standards
        yet. At no point shall chrissx Media or any other organisation or
        individual involved in the creation of this page be held accountable for
        the accuracy of the information presented, or any damages resulting from
        its inaccuracy.
    </p>
    <a
        href="https://commons.wikimedia.org/wiki/File:ISO_and_UTS_Thread_Dimensions.svg"
        target="_blank"
    >
        <figure>
            <img
                alt="ISO and UTS Thread Dimensions"
                src="https://upload.wikimedia.org/wikipedia/commons/4/4b/ISO_and_UTS_Thread_Dimensions.svg"
            />
            <figcaption>
                Inductiveload, Public domain, via Wikimedia Commons
            </figcaption>
        </figure>
    </a>
    <Root client:only />
</BaseLayout>

<style>
    figcaption,
    figcaption * {
        color: #808080;
        font-size: 0.9em;
        text-align: center;
        width: 384px;
    }

    img {
        background-color: white;
        width: 384px;
        height: 260px;
    }

    figure {
        width: max-content;
    }

    a {
        text-decoration: none;
        display: contents;
    }

    .important {
        color: red;
    }
</style>

<style is:global>
    body {
        margin: 0 1em;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    td,
    th {
        border: 1px solid #202020;
        text-align: left;
        padding: 4pt 2pt 4pt 4pt;
        overflow: auto;
        white-space: nowrap;
    }

    .unimportant {
        color: #c0c0c0;
    }

    select {
        overflow: auto;
    }

    .buttonhost {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
    }

    .interbuttonspacer {
        width: 32pt;
    }
</style>
